header {

	position: relative;
	z-index: 1;

	height: fit-content;
	width: 100%;
	font-family: 'Courier New', Courier, monospace;
	padding: 1vh 2vw;
	
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.432);
	/* border-radius: 0 0 50% 50%; */

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0;
	
	backdrop-filter: blur(20px);
	background-color: rgba(77, 85, 152, 0.254);


}

#header-satellite {
    position: relative;
    width: 100px;
	height: 100px;
    opacity: 0.90;
}

.header-grid{

	width: 100%;
	height: fit-content;

	display: inline-flex;
	align-self: center;
	align-items: center;
	justify-content: space-between;

	color: white;

}

#logo {

	width: 6vw;
	height: 6vw; 

	border-width: 2px;
	border-radius: 50%; 
	border-style: solid;
	border-color: rgba(253, 250, 245, 0.438);

	box-shadow: 0.3vw 0.3vw 1vw 0.2vw rgba(115, 124, 255, 0.158);

	opacity: 0.95;
	transition: all 1s;

	cursor: pointer;
}

#logo:hover {
	opacity: 1;
	scale: 1.01;
}

#header-title-box {
	display: flex;
	flex-direction: column;
}

.header-text {
	height: 100%;
	background-color: rgba(31, 28, 28, 0);

	cursor: default; 
	font-size: 60px; 

	color: rgb(228, 232, 239);

	border-width: 0px;
	border-radius: 8px; 
	border-style: solid;
	border-color: white;
}

#header-title{

	/* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	font-size: 55px;
	font-weight: 400;

}

#header-subtitle{

	margin-left: 0px;
	font-size: 2vw;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.562);
	
}

.header-box{

	width: 40vw;
	height: fit-content;
	
	display: inline-flex; 
	align-items: center;
	justify-content: space-between; 
  
	gap: 20px;

	border-radius: 15%;
}

#social-links {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 2vw;
	gap: 2vw;
}

#sky-status-container {
	display: inline-flex;
}

#sky-status-flex {
	
	padding: 0.5vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 1vw;
	

}

.sky-status {
	display: inline-flex;
	font-size: 1.8vh;

}

.sky-status-field-value {
	font-weight: 800;
	padding-left: 20px;
}

.status-info {

	width: 15px;
	height: 15px;
	margin: 0 6px;

	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
	border-color: rgba(235, 235, 235, 0.817);
	background-color: rgba(192, 185, 177, 0);

	font-weight: 500;
}