@media only screen and (max-width:1000px) {

    .interface {

        padding: 60px 0 18px 0;
    
        align-items: center;
        justify-content: center;    

        gap: 80px;
        
    }

    #video-bg, #img-bg {
        object-fit: cover;
    }

    #main-window {
        width: 100%;
        height: fit-content;
    }

    #view-tabs {
        flex-wrap: wrap;
    }

}


@media only screen and (max-width:700px) {

    .interface {

        padding: 60px 0 18px 0;
    
        align-items: center;
        justify-content: center;    

        gap: 80px;
        
    }

}


@media only screen and (max-width:500px) {

    header { 
        padding: 20px 10px 40px 10px;
    }

    .header-box{
        
        display: inline-flex; 
        align-items: center;
        justify-content: center; 

        flex-wrap: wrap;
      
        gap: 20px;

        row-gap: 60px;
    
        border-radius: 15%;
    }

    #social-links {
        gap: 8vw;
    }

    #sky-status-container .invertible-flexbox {
        display: flex;
        flex-direction: column-reverse;

        justify-content: center;
        align-items: center;

        row-gap: 100px;

    }

    .interface {

        padding: 60px 0 18px 0;
    
        align-items: center;
        justify-content: center;    

        gap: 80px;
        
    }

    .band-display {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: stretch;
        color: azure;
        row-gap: 40px;
        margin: 40px 0;
    }

    .band-title {
        text-align: center;
        width: max-content;
    }
    
    .in-development {

        display: none;

    }

    .inline-flex-container {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        align-items: center;
    }

    
    .recommended-resources {
        justify-content: center;
    }

    .power-ups {
      
        justify-content: center;
    }

    .powered-by {
        flex-wrap: wrap;
        padding: 20px;
    }

    .poem {
        padding: 20px;
    }


    #community-display-container {
        width: 100%;
     
    }
    
    .band-title-box {
        width: 100%;
    }

    #the-community-display {
        width: 100%;
        height: 300px;
    }

    
    .band-container-community {

        padding: 0;

    }

    #screen {
        width: 100%;

    }

    #map2D-container {

        width: 100%; 

    }

    #cursor-cross {
        display: none;
    }

    #satbot-container {
        position: fixed;
        z-index: 2;
        right: 0;
        top: 0;
        bottom: none;
    
        width: fit-content;
        height: 400px;
        max-height: 100%;
    
    }
}

